body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(7, 18, 18);
}

h2, p {
    margin: 10px;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0%;
    overflow: hidden;
    background-color: rgb(1, 1, 8);
}
ul li {
    float: left;
}
ul li a {
    display: block;
    color: rgb(252, 250, 250);
    text-align: center;
    padding: 14px 16px ;
    text-decoration:none;
}
ul li a:hover {
    background-color: rgb(255, 161, 11);
}
.main{
    display: flex;
}
.right{
    font-size: 50pxpx;
}